@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;500;700&display=swap");
* {
}
body {
    /* background-color: #d4ff00; */
    background-image: url("/assets/img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    font-family: "Montserrat", sans-serif;
}
#main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.fa-solid {
    color: #42df6d;
    font-size: 22px;
    margin: 6px 0px;
}
#nav {
    height: 95vh;
    width: 5%;
    color: #42df6d;
    /* border: 1px solid black; */
    border-radius: 25px;
    background-color: none;
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
}
#mainbod h1 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}
#mainbod {
    height: 95vh;
    width: 88%;
    backdrop-filter: blur(15px);
    color: #42df6d;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
}

#chats #header {
    width: 96%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(7px);
    /* background-color: #111433; */
    
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
    /* box-shadow: 0px 0.5px 10px rgb(77, 77, 77) inset; */
    /* border: 0.5px solid white; */
    border-radius: 18px;
    margin: 15px;
}

#chats #sendmsg {
    width: 96%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(7px);
    /* background-color: #111433; */
    
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
    /* box-shadow: 0px 0.5px 10px rgb(77, 77, 77) inset; */
    /* border: 0.5px solid white; */
    border-radius: 18px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contacts{
    
    width: 30%;
    /* border: 1px solid black; */
    border-radius: 25px;
    
    backdrop-filter: blur(10px) !important;
    background-color: rgba(23, 23, 23, 0.364) !important;
    /* box-shadow: 0.5px 0.5px 10px rgb(77, 77, 77); */
    margin: 15px;
    box-shadow: none !important;


}

#chats{
    
    width: 70%;
    /* border: 1px solid black; */
    border-radius: 25px;
    /* border: 1px solid #111433; */
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
    margin: 15px;
    
    backdrop-filter: blur(10px) !important;
    background-color: rgba(23, 23, 23, 0.364) !important;

}
#chats #sendmsg input{
    width: 85%;
    vertical-align: middle;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* backdrop-filter: blur(7px); */
    /* background-color: #111433; */
    
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
    /* box-shadow: 0px 0.5px 10px rgb(77, 77, 77) inset; */
    /* border: 0.5px solid white; */
    /* border-radius: 18px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 59%; */
    margin: 10px;
    font-size: 25px;
    outline: none;
    border: none;
    background: none;
}
#chats #sendmsg button{
    height: 35px;
    width: 10%;
    vertical-align: middle;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* backdrop-filter: blur(7px); */
    /* background-color: #111433; */
    
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
    /* box-shadow: 0px 0.5px 10px rgb(77, 77, 77) inset; */
    /* border: 0.5px solid white; */
    /* border-radius: 18px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 59%; */
    /* margin: 10px; */
    color: white;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: #111433;
}
form{
    /* display: inline; */
    width: 100%;
    /* overflow: visible; */
}
.chat-box {
    border-radius: 25px;
    background-color: white;
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
    margin: 15px;
    height: 60vh;
    
    backdrop-filter: blur(10px) !important;
    background-color: rgba(23, 23, 23, 0.364) !important;
}
.chat-box::-webkit-scrollbar-thumb {
    background-color: #a0a0a0; /* Set the color of the scrollbar thumb */
    border-radius: 50px; /* Set the border radius for the thumb */
}
.chat-box {
    padding-top: 10px;
    overflow-y: auto;
}
.message {
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
}
.sender-profile {
    order: 2;
    margin-right: 10px;
}
.reciever-profile {
    margin-left: 10px;
    margin-right: 10px;
}

.message-profile img{
    border-radius: 50px;
}
.sender {
    
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77);
    width: 50%;
    margin-right: 10px;
    padding: 10px;
    
    
}
.sender {
    color: #111433;
}
.sender h1 {
    font-size: 17px !important;
    text-transform: capitalize;
}
.chat-link {
    background-color: #111433 !important;
}
.reciever-msg .sender {
    background:linear-gradient(90deg , #4aff7b , #2dd85b) !important;
}
.sender-msg .sender {
    
    background:linear-gradient(90deg , #4aff7b , #33f767) !important;
}
.reciever {
    
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77);
    width: 50%;;
    margin-left: 10px;
}
.sender-msg {
    display: flex;
    justify-content: flex-end;
}

.sender h1 {
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 2px;
    font-weight: bold;
}
.sender p {
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
}
.profile-details {
    display: flex;
}
.profile-details h1 {
    margin: 0px;
    font-size: 15px;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.profile-image img{
    border-radius: 50px;
    margin-left: 10px;  
    margin-top: 5px;
    margin-bottom: 3px;
}
.profile-detail {
    margin-left: 10px;
}
.profile-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.online {
    font-family: sans-serif;
    font-size: 10px;
    font-style: italic;
}
.contact {
    margin: 00px 10px 10px 10px;
    color: #111433;
    border-radius: 10px;
    display: flex;
    padding: 6px;
    
    background:linear-gradient(90deg , #4aff7b , #1d8338) !important;
}
#contacts {
    overflow-y: auto;
    background-color: white;
    box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77);
}
.contact {
    border: 1px solid rgba(77, 77, 77, 0.5);
}
.contact:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.active-contact {
    background-color: whitesmoke;
    cursor: pointer;
}
.contact-name {
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 10px;
}
.chat-detail p{
    font-size: 11px;
    opacity: 0.7;
    font-style: italic;
    margin-top: 5px;
    line-height: 15px;
}
.contact-photo img {
    border-radius: 50px;
}
.search-contact {
    margin: 10px;
}
.search-contact input {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.contacts > h1 {
    font-size: 20px;
    font-family: sans-serif;
}
.contact  h1 {
    font-size: 25px !important;
    font-family: sans-serif;
    text-transform: capitalize;
}
.side-navbar ul li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
}
.side-navbar h1 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.side-navbar ul li {
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    /* padding-left: 20px; */
    margin-bottom: 10px;
    text-align: center;
    transition: 0.5s ease;

}
.side-navbar ul li:hover {
    /* border-left: 3px solid #42df6d;   */
    transform: translateX(10px);
    transition: 0.5s ease;
}
.active {
    background-color: none;
    border-left: 4px solid #42df6d;  
    margin: 0px;
    padding: 0px; 
    text-align: center;
}
.active:hover {     
    background: none;
}
.none {
    display: none;
}



/************************* USER PAGE ***************************/

.empty-field {
    border: 1px solid red !important;
}
.none {
    display: none;
}
.err::placeholder {
    color: red !important;
    opacity: 0.5;
}
.update_button:hover {
    color: white !important;
}
#user-table {
    margin: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77);
    width: 100%;
    padding: 20px;
}
.users h1 {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-family: sans-serif;
}
.users-list table {
    margin-top: 5px;
    text-align: center;
}
.pagination li a{
    color: black;
}


/********************* NOTIFICATIONS *********************/

.notifications h1 {
    font-family: "Montserrat" , sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.notification {
    background: white;
    margin: 30px;
    border-radius: 10px;
    padding: 5px;
    color: #111433;
    background:linear-gradient(90deg , #4aff7b , #1d8338) !important;
    /* background-color: white; */
    /* box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77); */
    display: flex;
    align-items: center;
}
.envelope-icon {
    color: #111433;
}
.notification:hover {
    background-color: white;
    box-shadow: 0.5px 0.5px 3px rgb(77, 77, 77) inset;
    cursor: pointer;
}
.notification-details h1 {
    /* border-bottom: 1px solid black; */
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.notification-details p {
    font-family: "Montserrat" , sans-serif;
    font-size: 12px;
}
.notifications {
    overflow: auto;
}
.notification-details {
    width: 90%;
}
.notification-details h1 {
    font-size: 20px !important;
}
.icon {
    padding: 15px;
    font-size: 30px;
}
.users-list-header {
    display: flex;
    justify-content: space-between;
}
.search input {
    outline: none;
}
.create-user label {
    width: 100%; 
    padding-top: 10px;
}
.create-user button[type="submit"] {
    margin-top: 10px;
}
.create-user label:not(.create-user :last-child) { 
    padding-bottom: 10px;
}
.disabled-link {
    color: #aaa;
    background: #eee !important;
    cursor: not-allowed;
}
.active-page {
    background: #343a40 !important;
    color: white !important;
}


.empty {
    /* border: 1px solid black; */
    margin: 25px;
    padding: 25px;
    text-align:center;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;;
}
input[type='checkbox']{
	height: 0;
	width: 0;
	visibility: hidden;
    margin: 0 auto;
}
.switchDesc {
    margin: 0 auto;
}
#switchLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

#switchLabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switch:checked + #switchLabel {
	background: #bada55;
}

.switch:checked + #switchLabel:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#switchLabel:active:after {
	width: 130px;
}
.cover {
    background-color: #42df6d;
    height: 150px;
    border-radius: 25px;
    margin-bottom: 60px;
    position: relative;
}
.profile {
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.flash-message {
    background: #42df6d;
    width: 40%;
    position: fixed;
    z-index: 1;
    right: 10px;
    height: 40px;
    bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.none {
    display: none;
}
.overlay {
    /* background: white; */
    border-radius: 25px;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
.overlay {
    backdrop-filter: blur(10px) !important;
    background-color: rgba(0, 0, 0, 0.572) ;
}
.overlay i {
    font-size: 5rem;
}
.disabled {
    cursor: not-allowed !important;
}
.special-message {
    text-align: center;
}
.chat-link {
    color: white;
    background: #42df6d;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    font-family: "'Montserrat'";
    font-family: "Montserrat", sans-serif;
    display: inline-block;
}
.chat-link:hover {
    background: #2bab4d;
}
.messageContent {
    color: #42df6d;
}

.users {
    width: 95% !important;
    backdrop-filter: blur(10px) !important;
    background-color: rgba(23, 23, 23, 0.364) !important;
}
table {
    color: white !important;
}
#search {
    margin-top: 10px;
    margin-bottom: 10px;
}

#file_extension option,
#role option {
    color: black;
}

#file_extension,
#role,
#search,
.form-group input,
.form-group textarea,
#old_password,
#new_password {
    background: none !important;
    border: none;
    border-radius: 0px !important;
    outline: none !important;
    border-bottom: 1px solid #42df6d;
    color: white;
}
input {
    color: white;
}
.form-group input:focus {
    box-shadow: none;
}
.create-user button {
    background-color: #42df6d;
    color: black;
}
.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.stats-card {
    background-color:blue; 
    width: 33.33%;
}
